  #title {
    font-size: 40px;
    text-align: center;
  }

  #description {
    font-size: 20px;
    display: block;
    text-align: center;
  }
  body{
    background-color: lightblue;
  }

  #developers-info {
    display: flex;
    justify-content: space-around;
  }

  #collectivenectar-info {
    display: grid;
  }

  #moogwol-info {
    display: grid;
  }
  #app-features{
  padding: 40px;
  display: block;
  text-align: center;
}
  #link-to-app{
    display: block;
    text-align: center;
  }
#app-libraries{
  padding: 40px;
  display: block;
  text-align: center;
}
  #app-demo-label{
    padding: 40px;
    display: block;
    text-align: center;
  }
  #embedded-tutorial{
    display: block;
    margin: auto;
  }
  #developers-info{
    padding: 40px;
  }
  footer{
    display: block;
    text-align: center;
  }
  