.workspace{
    display: flex;
    flex-direction: row;
}
#canvas{
    box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.1), 0 5px 5px rgba(0, 0, 0, 0.1);
}
#canvas-tools{
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    background-color:lightgray;
    cursor: pointer;
}
#buttons-field{
    display: flex;
    flex-direction: column;
    width: 80px;
    box-shadow: 0 1px 5px rgba(0.0, 0.0, 0.0, 0.10), 0 1px 5px rgba(0.0, 0.0, 0.0, 0.40);
}
.button{
    padding: 5px;
    cursor: pointer
}
#colors-field{
    display: flex;
    flex-direction: column;
}
#color{
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
    margin-top: 10px;
    border-radius: 50%;
    cursor: pointer;
}
