#title {
    display: block;
    background: whitesmoke;
    box-shadow: 0 3px 3px 0px rgb(0, 0, 0, 0.2);
    opacity: 70%;
    padding: 10px;
    font-family: "Montserrat";
    font-variant: small-caps;
  }
#body{
  background: lightblue;
  }
#description {
    font-size: 20px;
    display: block;
    text-align: center;
    font-family: "Montserrat";
    font-style: italic;
    padding: 50px;
  }
#features-list{
  display:block;
  list-style-type: none;
  text-align: center;
  font-family: "Montserrat";
}
#basic-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
#basic-text{
  margin: auto;
}
#drawing-img{
  width: 50%;
  box-shadow: 0 6px 6px 6px rgb(0, 0, 0, 0.1);
}
#color-picker-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
#color-picker-text{
  margin: auto;
}
#colors-img{
  width: 50%;
  box-shadow: 0 6px 6px 6px rgb(0, 0, 0, 0.1);
}
#brush-size-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
#brush-size-text{
  margin: auto;
}
#brush-img{
  width: 50%;
  box-shadow: 0 6px 6px 6px rgb(0, 0, 0, 0.1);
}
#save-load-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
#save-load-text{
  margin: auto;
  max-width: 200px;
}
#files-img{
  width: 50%;
  box-shadow: 0 6px 6px 6px rgb(0, 0, 0, 0.1);
}
#app-libraries{
  font-family: "Montserrat";
}
#app-demo-label{
  font-family: "Montserrat";
}
  #developers-info {
    display: flex;
    justify-content: space-around;
    font-family: "Montserrat";
  }
  #collectivenectar-info {
    display: grid;
  }
  #moogwol-info {
    display: grid;
  }
  #link-to-app{
    display: block;
    text-align: center;
  }
#app-libraries{
  padding: 40px;
  display: block;
  text-align: center;
}
  #app-demo-label{
    padding: 40px;
    display: block;
    text-align: center;
  }
  #embedded-tutorial{
    display: block;
    margin: auto;
  }
  #developers-info{
    padding: 40px;
  }
  footer{
    display: block;
    text-align: center;
  }
