#title {
  display: block;
  background:midnightblue;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  opacity: 70%;
  padding: 40px;
  font-family: "Montserrat";
  font-size: 55px;
  color: whitesmoke;
  font-variant: small-caps;
}
.colored-text{
  font-family: "Outfit";
  font-variant: small-caps;
  color: midnightblue;
  padding: 10px;
}
#body{
  background: whitesmoke;
}
#description {
  font-size: 50px;
  display: block;
  text-align: center;
  padding: 50px;
  color: midnightblue;
  background-color: whitesmoke;
  margin-bottom: 20px;
}
#basic-section{
  display: flex;
  flex-direction: row;
  padding: 80px;
  border-radius: 40px;
  border-color: whitesmoke;
  border-style: double;
  background-color: #B1C4E5;
  max-width: 700px;
  margin: auto;
}
#basic-text{
  font-size: 25px;
  margin: auto;
  max-width: 200px;
}
#drawing-img{
  width: 50%;
  aspect-ratio: auto;
  border-radius: 5px;
}
#color-picker-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
  margin-top: 100px;
}
#color-picker-text{
  display: block;
  border-style: double;
  border-radius: 40px;
  border-color: whitesmoke;
  padding: 80px;
  margin: auto;
  background-color: #B1C4E5;
  font-size: 25px;
  
}
#colors-img{
  width: 50%;
  aspect-ratio: auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}
#brush-size-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
#brush-size-text{
  display: block;
  border-style: double;
  border-radius: 40px;
  border-color: whitesmoke;
  padding: 80px;
  margin: auto;
  background-color: #B1C4E5;
  font-size: 25px;
}
#brush-img{
  width: 50%;
  aspect-ratio: auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}
#save-load-section{
  display: flex;
  flex-direction: row;
  padding: 40px;
}
#save-load-text{
  display: block;
  border-style: double;
  border-radius: 40px;
  border-color: whitesmoke;
  padding: 40px;
  margin: auto;
  max-width: 400px;
  background-color: #B1C4E5;
  font-size: 25px;
}
#files-img{
  width: 50%;
  aspect-ratio: auto;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 6px 6px rgba(0,0,0,0.1);
}
#developers-info {
  display: flex;
  justify-content: space-around;
}
#collectivenectar-info {
  display: grid;
}
#moogwol-info {
  display: grid;
}
#link-to-app{
  width: 200px;
  display: block;
  margin: auto;
  text-align: center;
  border: solid;
  border-radius: 25px;
  padding: 40px;
  font-size: 25px;
  color: #B1C4EF;
  background-color: midnightblue;
  opacity: 80%;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
#app-libraries{
  padding: 40px;
  display: block;
  text-align: center;
}
#app-demo-label{
  padding-top: 40px;
  font-size: 25px;
  display: block;
  text-align: center;
}
#tutorial{
  display: block;
  margin: auto;
  width: 50%;
}
#developers-intro{
  color: midnightblue;
  text-align: center;
  font-family: "Outfit";
  padding-top: 100px;
  font-size: 25px;
}
#developers-info{
  padding: 40px;
  display: flex;
}
#collectivenectar-photo{
  display: block;
  max-width: 250px;
  margin: auto;
}
#collectivenectar-bio{
  max-width: 250px;
}
#moogwol-photo{
  display: block;
  max-width: 250px;
  margin: auto;
}
#moogwol-bio{
  max-width: 250px;
}
#emails{
  font-variant: normal;
}
footer{
  display: block;
  text-align: center;
}